.comm__Wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    .nav {
        width: 15%;
        background-color: #F4F4F4;
        text-align: center;
        border-right: 2px solid var(--black600);

        h2 {
            margin: 0 auto;
            width: 90%;
            margin-top: 30px;
            padding: 18px 10px 15px;
            background-color: var(--primary-color);
            font-size: 20px;
            border-radius: 7px;
            color: var(--white);
            font-weight: 900;
        }

        ul {
            margin-top: 30px;
            background-color: var(--white);

            li {
                text-align: left;
                padding: 15px 30px 12px;
                display: flex;
                align-items: center;

                div {
                    margin-right: 5px;
                    margin-bottom: 3px;
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                a {
                    color: #565656;
                }

                .hot {
                    background-image: url(../../img/icon_fire.svg);
                }

                .medal {
                    background-image: url(../../img/icon_medal.svg);
                }

                .hat {
                    background-image: url(../../img/icon_hat.svg);
                }

                .pencil {
                    background-image: url(../../img/icon_pencil.svg);
                }

                .smile {
                    background-image: url(../../img/icon_smile.svg);
                }

                .eye {
                    background-image: url(../../img/icon_eye.svg);
                }

                .ame {
                    background-image: url(../../img/icon_ame.svg);
                }

                .glass {
                    background-image: url(../../img/icon_glass.svg);
                }

                .forder {
                    background-image: url(../../img/icon_forder.svg);
                }
            }

            .active {
                background-color: #D9F2E9;

                a {
                    color: var(--black);
                }
            }
        }
    }

    .main {
        padding: 3% 9%;
        width: 85%;
        height: 100%;
        min-height: 80vh;
        position: relative;

        .comm__top {
            display: flex;
            border-bottom: 1px solid var(--black600);
            justify-content: space-between;

            .comm_tab {
                ul {
                    display: flex;

                    li {
                        cursor: pointer;
                        padding: 12px 35px 10px;
                        font-size: 20px;
                        margin-right: 10px;
                    }

                    .active {
                        border-bottom: 2px solid var(--primary-color);
                    }

                }
            }

            .comm__search {
                width: 30%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;

                input {
                    padding: 10px 20px;
                    border: 1px solid var(--black600);
                    outline: none;
                    width: 70%;
                    border-radius: 6px;
                }

                ul {
                    cursor: pointer;
                    width: 28%;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--primary-color);
                    color: var(--white);

                    li {
                        margin-top: 3px;
                    }
                }
            }
        }

        .comm__bottom {
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;

            .comm__box {
                width: 32%;
                height: 100%;
                border: 1px solid #D4D4D4;
                border-radius: 8px;
                margin-bottom: 20px;
                margin-right: 1%;

                .box {
                    border-bottom: 1px solid #D4D4D4;
                    padding: 20px 20px 10px;

                    .emoji {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 20px;

                        .emoticon {
                            width: 30px;
                            height: 30px;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url(../../img/icon_humanheeart.svg);
                        }

                        .like__btn {
                            cursor: pointer;
                            width: 27px;
                            height: 25px;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url(../../img/icon_heart.svg);
                        }

                    }

                    .comm__header {
                        display: flex;
                        align-items: end;
                        margin-bottom: 20px;

                        .cate {
                            padding: 5px 8px 2px;
                            background-color: #FF5E5E;
                            border-radius: 5px;
                            color: var(--white);
                            font-size: 13px;
                            font-weight: 900;
                            margin-right: 10px;

                        }

                        h2 {
                            font-size: 20px;
                            line-height: 1;
                        }

                        h2:hover {
                            text-decoration: underline;
                        }
                    }

                    .comm__text {

                        p {
                            font-size: 14px;
                            color: #727272;
                            margin-bottom: 10px;
                        }

                        .anothor {
                            font-size: 12px;
                            color: #A4A4A4;
                        }
                    }
                }

                .comm__info {
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        display: flex;

                        .watch {
                            display: flex;
                            align-items: center;
                            margin-right: 10px;

                            div {
                                margin-bottom: 3px;
                                margin-right: 5px;
                                width: 15px;
                                height: 10px;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-image: url(../../img/icon_eye_empty.svg);
                            }

                            p {
                                color: #727272;
                                font-size: 13px;
                            }
                        }

                        .like {
                            display: flex;
                            align-items: center;

                            div {
                                margin-bottom: 3px;
                                margin-right: 5px;
                                width: 13px;
                                height: 13px;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-image: url(../../img/icon_heart_black.svg);
                            }

                            p {
                                color: #727272;
                                font-size: 13px;
                            }
                        }
                    }

                    .date {
                        color: #727272;
                        font-size: 13px;
                    }
                }
            }
        }

        .pagination {

            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin-right: 30px;

                .active {
                    color: var(--primary-color);
                }
            }

            .left {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../../img/icon_left.svg);
            }

            .right {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../../img/icon_right.svg);
            }
        }
    }

    .comm__write {
        padding: 3% 10%;
        width: 85%;

        .wirte__header {
            display: flex;
            border-bottom: 1px solid var(--black600);
            justify-content: space-between;

            h2 {
                padding: 12px 25px 10px;
                font-size: 20px;
                border-bottom: 2px solid var(--primary-color);
            }
        }

        .write__box {
            padding: 20px 0;

            .cate {
                position: relative;
                width: 20%;

                select {
                    cursor: pointer;
                    width: 100%;
                    outline: none;
                    padding: 15px 20px 13px;
                    border: 1px solid var(--black600);
                    border-radius: 8px;
                    color: #787878;
                    background-image: url(../../img/icon_arrowdown.svg);
                    background-position: calc(100% - 15px) center;
                    background-repeat: no-repeat;

                    option {
                        color: #787878;
                    }
                }

                select::-ms-expand {
                    display: block;
                }
            }

            input {
                margin-top: 20px;
                width: 100%;
                padding: 15px 20px 13px;
                border: 1px solid var(--black600);
                border-radius: 8px;
                color: var(--black);
                outline: none;
            }

            textarea {
                height: 500px;
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding: 30px 20px;
                border: 1px solid var(--black600);
                border-radius: 8px;
                color: var(--black);
                white-space: pre-line;
                outline: none;
            }

            ::placeholder {
                color: var(--black600);
            }

            input[type=file]::file-selector-button {
                margin-right: 20px;
                padding: 10px 30px;
                border: 0;
                background-color: #EFEFEF;
                border-radius: 10px;
                cursor: pointer;
                color: #A9A9A9;
            }

            .file {
                padding: 15px 15px 13px;
            }
        }

        .button {
            margin-top: 20px;
            justify-content: right;
            display: flex;

            ul {
                cursor: pointer;
                background-color: #A0A0A0;
                color: var(--white);
                padding: 14px 50px 12px;
                border-radius: 8px;
                margin-right: 20px;
            }

            button {
                background-color: var(--primary-color);
                color: var(--white);
                padding: 14px 50px 12px;
                border-radius: 8px;
            }
        }
    }

    .comm__detail {
        padding: 3% 10%;
        width: 85%;

        .detail__header {
            display: flex;
            border-bottom: 1px solid var(--black600);
            justify-content: left;

            h2 {
                padding: 12px 25px 10px;
                font-size: 20px;
                border-bottom: 2px solid var(--primary-color);

                img {
                    width: 28px;
                    height: 28px;
                    padding-bottom: 2px;
                    margin-right: 5px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }

        .detail__box {

            .header {
                border-bottom: 1px solid var(--black600);
                padding: 3%;

                .box {
                    display: flex;
                    flex-wrap: wrap;

                    h3 {
                        font-size: 20px;
                        width: 100%;
                    }

                    .author {
                        margin-top: 20px;
                        font-size: 18px;
                        color: var(--white400);
                    }
                }

                div {
                    display: flex;

                    div {
                        display: flex;
                        margin-top: 10px;
                        align-items: center;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-bottom: 5px;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }

                        p {
                            margin: 0 10px 0 5px;
                            color: var(--white400);
                        }
                    }
                }
            }

            .body {
                padding: 3%;
                display: flex;
                flex-wrap: wrap;
                min-height: 500px;
                border-bottom: 1px solid var(--white400);

                p {
                    width: 60%;
                    color: var(--black400);
                    white-space: pre-line;
                }
            }
        }
    }

    .report__Wrap {
        width: 100%;
        height: 100vh;
        background-color: #0000006c;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .report {
            background-color: #fff;
            width: 500px;
            border: 1px solid #EFEFEF;
            border-radius: 36px;

            .header {
                h2 {
                    border-bottom: 1px solid var(--white300);
                    padding: 30px 30px 20px;
                }

                p {
                    font-weight: 100;
                    color: red;
                    padding: 20px 30px 20px;
                    font-size: 15px;
                    white-space: pre-line;
                    position: relative;

                    span {
                        position: absolute;
                        left: 20px;
                    }
                }
            }

            .box {
                padding: 10px 40px 20px;

                h3 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                >div {
                    display: flex;
                    margin-bottom: 20px;

                    input {
                        margin-right: 20px;
                        cursor: pointer;
                        border: 1px solid var(--primary-color);
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        position: relative;
                    }

                    input:checked::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 12px;
                        background-color: var(--primary-color);
                        border-radius: 50%;
                    }

                    p {
                        color: var(--black300);
                        font-size: 18px;
                    }
                }
            }

            .button {
                display: flex;
                justify-content: center;
                padding-bottom: 20px;

                ul {
                    cursor: pointer;
                    margin-right: 10px;

                    li {
                        width: 100px;
                        text-align: center;
                        padding: 10px;
                        color: var(--white);
                        border-radius: 6px;
                        background-color: var(--black500);
                    }
                }

                button {
                    cursor: pointer;
                    width: 100px;
                    text-align: center;
                    padding: 10px;
                    color: var(--white);
                    border-radius: 6px;
                    background-color: var(--primary-color);
                }
            }
        }
    }

    .report__Wrap.none {
        display: none;
    }
}

@media (max-width: 1400px) {
    .comm__Wrap {
        .nav {
            width: 20%;
        }

        .main {
            padding: 3%;
            width: 80%;

            .comm__top {
                .comm__search {
                    width: 50%;
                }
            }

            .comm__bottom {
                .comm__box {
                    width: 49%;
                }
            }
        }

        .comm__write {
            padding: 3%;
            width: 80%;
        }

        .comm__detail {
            padding: 3%;
            width: 80%;
        }
    }
}

@media (max-width: 1250px) {
    .comm__Wrap {
        .nav {
            width: 25%;
        }

        .main {
            padding: 3%;
            width: 75%;

            .comm__top {
                .comm__search {
                    width: 50%;
                }
            }

            .comm__bottom {
                .comm__box {
                    width: 49%;
                }
            }
        }

        .comm__write {
            width: 75%;

            .write__box {
                .cate {
                    width: 30%;
                }
            }
        }

        .comm__detail {
            width: 75%;

            .detail__box {
                .body {
                    p {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 810px) {
    .comm__Wrap {
        .nav {
            display: none;
        }

        .main {
            width: 100%;

            .comm__top {
                .comm_tab {
                    ul {
                        display: flex;

                        li {
                            cursor: pointer;
                            padding: 22px 35px 10px;
                            font-size: 16px;
                            margin-right: 10px;
                        }
                    }
                }

                .comm__search {
                    width: 50%;

                    input {
                        padding: 5px 10px;
                    }
                }
            }

            .comm__bottom {
                .comm__box {
                    width: 49%;
                }
            }
        }

        .comm__write {
            width: 100%;
        }

        .comm__detail {
            width: 100%;

            .detail__box {


                .body {
                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .comm__Wrap {

        .main {
            padding: 3%;
            width: 100%;

            .comm__top {
                .comm_tab {
                    ul {
                        display: flex;

                        li {
                            cursor: pointer;
                            padding: 10px 15px 10px;
                            font-size: 16px;
                            margin-right: 10px;
                        }
                    }
                }

                .comm__search {
                    width: 50%;

                    input {
                        padding: 5px 10px;
                    }
                }
            }


            .comm__bottom {
                padding-top: 30px;
                justify-content: center;

                .comm__box {
                    width: 95%;
                }
            }

        }

        .comm__write {

            .wirte__header {
                h2 {
                    font-size: 16px;
                }
            }

            .write__box {
                .cate {
                    width: 45%;

                    select {
                        font-size: 14px;
                    }
                }

                .input {
                    ::placeholder {
                        font-size: 14px;
                    }

                    .file {
                        padding: 10px;
                        font-size: 14px;
                    }
                }

                .button {
                    ul {
                        font-size: 14px;
                        margin-right: 10px;
                    }

                    button {
                        font-size: 14px;
                    }
                }
            }
        }

        .comm__detail {
            .detail__header {
                h2 {
                    font-size: 16px;

                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }

            .detail__box {
                .header {
                    padding-top: 20px;

                    .box {
                        h3 {
                            font-size: 16px;
                        }

                        .author {
                            font-size: 14px;
                        }
                    }
                }

                .body {
                    padding-top: 40px;

                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.comment__Wrap {
    padding: 5px 3%;
    display: flex;
    flex-wrap: wrap;

    .comment__header {
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .info {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                padding-bottom: 2px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                margin-bottom: 2px;
            }

            p {
                margin: 0 10px 0 5px;
                color: var(--black400);
            }
        }

        .button {
            display: flex;

            ul {
                display: flex;

                li {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 40px;
                    padding-top: 2px;
                    margin-right: 10px;
                    color: var(--white);
                    border-radius: 8px;
                }

                .list {
                    background-color: var(--black500);
                }

                .modify {
                    background-color: var(--primary-color);
                }
            }

            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 40px;
                padding-top: 2px;
                margin-right: 10px;
                border-radius: 8px;
                border: 1px solid #FF5E5E;
                background-color: #00000000;
                color: #FF5E5E;
                transition: all 0.4s;
            }

            button:hover {
                background-color: #EE6F77;
                color: var(--white);
            }

            .delete {
                background-color: #EE6F77;
                color: var(--white);
            }


        }
    }

    .comment__body {
        width: 100%;
        background-color: var(--white100);
        padding: 20px;

        .top {
            display: flex;
            justify-content: space-between;

            .profile__box {
                display: flex;
                align-items: center;

                img {
                    width: 35px;
                    height: 35px;
                    margin-right: 10px;
                }

                p {
                    width: 100%;
                }
            }

            .box {
                cursor: pointer;
                width: 15px;
                height: 10px;

                .button {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: var(--white400);
                    position: relative;

                    &::before {
                        bottom: 8px;
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: var(--white400);
                    }

                    &::after {
                        top: 8px;
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: var(--white400);
                    }

                    .last_box {
                        position: absolute;
                        right: 5px;
                        top: 0;
                        width: 76px;
                        padding: 10px 0;
                        display: flex;
                        flex-wrap: wrap;
                        border-radius: 10px;
                        background-color: var(--white);
                        box-shadow: 2px 2px 4px 0px var(--black600);

                        button {
                            font-size: 12px;
                            padding: 5px;
                            width: 100%;
                            color: var(--white500);
                            background-color: #00000000;
                            text-align: center;
                            cursor: pointer;
                        }

                        .report {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 15px;
                                margin-right: 3px;
                                margin-bottom: 3px;
                            }
                        }

                        .none {
                            display: none;
                        }
                    }

                    .none {
                        display: none;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-wrap: wrap;

            .text {
                margin-top: 10px;
                width: 100%;
                padding: 0 5px;
            }

            div {
                margin-top: 10px;
                justify-content: left;
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-bottom: 3px;
                }

                p {
                    color: var(--white500);
                    font-size: 14px;
                }
            }
        }
    }

    .comment__body.white {
        background-color: var(--white);

    }
}

.replewrite {
    margin-top: 20px;
    padding: 20px 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input {
        width: 87%;
        border: 1px solid var(--white300);
        padding: 15px 20px;
        border-radius: 6px;
        outline: none;
    }

    ::placeholder {
        color: var(--white300);
    }

    button {
        cursor: pointer;
        width: 12%;
        border-radius: 6px;
        background-color: var(--primary-color);
        color: var(--white);
    }
}

@media (max-width: 600px) {
    .comm__Wrap {
        .comment__Wrap {
            .comment__header {
                .button {
                    ul {
                        .list {
                            display: none;
                        }

                        li {
                            width: 80px;
                        }
                    }

                    button {
                        width: 80px;
                        font-size: 14px;
                    }
                }
            }

        }

        .report__Wrap {
            padding: 20px;

            .report {
                width: 90%;

                .header {
                    h2 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .box {
                    h3 {
                        font-size: 16px;
                    }

                    div {
                        input {
                            width: 20px;
                            height: 20px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}